* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

html {
  max-width: 100vw;
  overflow: hidden;
}

/* TopBar */

.top_bar {
  border-bottom: 0.15rem solid #ffff00;
  border-top: 0.15rem solid #ffff00;
}

.top_bar, .topbar_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff00;
  font-weight: 500;
}

.topbar_item i {
  margin: 0.5rem;
}

.separator {
  width: 0.1rem;
  height: 2.5rem;
  border: 0.1rem solid #ffff00;
}

@media (max-width: 992px) {
  .top_bar{
    display: none;
  }
}

/* Navbar */

.navbar {
  padding-top: 3rem;
}

.navbar-brand img {
  width: 150px; 
  height: 70px;
}

.navbar-brand img:hover {
  transform: rotate(-5deg) scale(1.1);
  transition: transform 0.2s ease;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3e%3cpath stroke='rgba%28255, 255, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
  color: #ffff00;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom:0.1rem;
  margin: 0 0.4rem;
}

.nav-link:hover {
  color: #ffff00;
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
  border-bottom: 0.15rem solid #ffff00;
}

.button {
  border: 0.2rem solid #ffff00;
  background-color: #ffff00;
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
}

.button:hover {
  background-color: transparent;
  color: #ffff00;
}

@media(max-width: 992px) {
  .navbar-brand img {
    width: 110px; 
    height: 50px;
    transform: rotate(-5deg);
  }
  .navbar-brand img:hover {
    transform: rotate(-5deg) scale(1);
    transition: transform 0.2s ease;
  }
  .navbar {
    padding: 0 0 0.5rem 0 !important;
    background-color: #000;
  }
  .nav-link {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding-left: 1.05rem;
    border-bottom: 0.1rem solid #ffff00;
  }
  .nav-link:hover {
    transform: scale(1);
    transition: transform 0.2s ease-in;
    border-bottom: 0.1rem solid #ffff00;
  }
  .collapse {
    background-color: #000;
  }
  .buttons {
    padding-bottom: 1rem;
  }
  .button {
    border: 0.1rem solid #ffff00;
    background-color: #ffff00;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.15rem 0.5rem;
    margin-top: 0.5rem;
  }
  .button:hover {
    background-color: #ffff00;
    color: #000;
  }
}

/* Hero */

.carousel-caption {
  bottom: 38%;
}

.slider-btn .btn {
  background: #000;
  color: #ffff00;
  border-radius: 0;
  padding: 1rem 1.5rem;
  margin: 0.7rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.slider-btn .btn-2 {
  color: #000;
  background: #ffff00;
}

@media(min-width : 993px) {  
  .carousel-item {
    height: 100vh;
  }
}

@media (max-width : 993px) and (min-width : 571px) {
  .carousel-caption {
    position: relative;
    bottom: 25%;
  }
  .slider-btn {
    padding-right: 30%;
  }
}

@media (max-width : 570px) and (min-width : 281px) {
  .carousel-caption {
    position: relative;
    bottom: 17%;
  }
  .slider-btn {
    padding-right: 30%;
  }
  .slider-btn .btn {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width : 280px) {
  .carousel-caption {
    position: relative;
    bottom: 15%;
  }
  .slider-btn {
    padding-right: 30%;
  }
  .slider-btn .btn {
    padding: 0.3rem 0.3rem;
    margin: 0.3rem;
    font-size: 0.7rem;
    font-weight: 500;
  }
}

/* About Us */

.about_us {
  background-image: linear-gradient(to bottom right, #BF8563, #fff , #BF8563, #fff, #BF8563);
}

.container {
  width: 90%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-img {
  flex: 1;
  margin-left: 50px;
  overflow: hidden;
}

.about-img img {
  max-width: 100%;
  height: auto;
  display: block;
}

.about-content {
  flex: 1;
  text-align: justify;
  font-weight: bold;
}

strong {
  background-color: #ffff00;
  padding: 3px 12px 7px 12px;
  border-radius: 10px;
}

@media (max-width : 993px) {
  .about {
    flex-direction: column-reverse;
    margin-top: 0;
    padding-top: 0;
  }
  .about-img {
    margin: 0 30px;
  }
  .about-content h5, .about-content h3 {
    text-align: center;
    margin-top: 15px;
  }
}

/* Gallery */

.gallery-container {
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
  background: linear-gradient(to right, #ffff00, #f5f584);
}

.gallery {
  flex-basis: 70%;
  display: grid;
  gap: 8px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
}

.box {
  background-size: cover;
  background-position: center;
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
  justify-content: center;
  align-items: center;
  background-color: #222;
  background-blend-mode: hard-light;
  transition: all 1s ease-in-out;
}

.box:hover {
  background-color: #999;
  background-position: bottom;
  box-shadow: 0 0 4px #fff;
  cursor: pointer;
}

.row2 {
  grid-row: span 2;
}

.col2 {
  grid-column: span 2;
}