* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

/* TopBar */

.top_bar {
  border-bottom: 0.15rem solid #ffff00;
  border-top: 0.15rem solid #ffff00;
}

.top_bar, .topbar_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #ffff00;
  font-weight: 500;
}

.topbar_item .icon {
  margin: 0.5rem;
}

.separator {
  width: 0.1rem;
  height: 2.5rem;
  border: 0.1rem solid #ffff00;
}

@media (max-width: 992px) {
  .top_bar{
    display: none;
  }
}

/* Navbar */

.navbar {
  padding-top: 3rem;
}

.logo:hover {
  transform: rotate(-5deg) scale(1.1);
  transition: transform 0.2s ease;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 25 25'%3e%3cpath stroke='rgba%28255, 255, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link {
  color: #ffff00;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom:0.1rem;
  margin: 0 0.4rem;
}

.nav-link:hover {
  color: #ffff00;
  transform: scale(1.1);
  transition: transform 0.2s ease-in;
  border-bottom: 0.15rem solid #ffff00;
}

.button {
  border: 0.2rem solid #ffff00;
  background-color: #ffff00;
  color: #000;
  font-size: 1.1rem;
  font-weight: bold;
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
}

.button:hover {
  background-color: transparent;
  color: #ffff00;
}

@media(max-width: 992px) {
  .logo {
    transform: rotate(-5deg);
  }
  .logo:hover {
    transform: rotate(-5deg) scale(1);
    transition: transform 0.2s ease;
  }
  .navbar {
    padding: 0 0 0.5rem 0 !important;
    background-color: #000;
  }
  .nav-link {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    padding-left: 1.05rem;
  }
  .nav-link:hover {
    color: #ffff00;
    transform: scale(1);
    transition: transform 0.2s ease-in;
    border-bottom: 0;
  }
  .collapse {
    background-color: #000;
  }
  .buttons {
    padding-bottom: 1rem;
  }
  .button {
    border: 0.1rem solid #ffff00;
    background-color: #ffff00;
    font-size: 1rem;
    font-weight: 700;
    padding: 0.15rem 0.5rem;
  }
  .button:hover {
    background-color: #ffff00;
    color: #000;
  }
}

/* Hero */

.carousel-item {
  height: 100vh;
  min-height: 25rem;
  background: no-repeat scroll center scroll;
}

.carousel-item::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #000;
  opacity: 0.4;
}

.carousel-caption {
  bottom: 38%;
}

.slider-btn .btn {
  background: #000;
  color: #ffff00;
  border-radius: 0;
  padding: 1rem 1.5rem;
  margin: 0.7rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.slider-btn .btn-2 {
  color: #000;
  background: #ffff00;
}

@media (max-width : 993px) and (min-width : 571px) {
  .carousel-caption {
    position: relative;
    bottom: 25%;
  }
  .slider-btn {
    padding-right: 30%;
  }
}

@media (max-width : 570px) and (min-width : 281px) {
  .carousel-caption {
    position: relative;
    bottom: 17%;
  }
  .slider-btn {
    padding-right: 30%;
  }
  .slider-btn .btn {
    padding: 0.5rem 0.5rem;
    margin: 0.5rem;
    font-size: 1rem;
    font-weight: 500;
  }
}

@media (max-width : 280px) {
  .carousel-caption {
    position: relative;
    bottom: 15%;
  }
  .slider-btn {
    padding-right: 30%;
  }
  .slider-btn .btn {
    padding: 0.3rem 0.3rem;
    margin: 0.3rem;
    font-size: 0.7rem;
    font-weight: 500;
  }
}




